body{
    background-color:rgb(220, 252, 227)
}
h1{
    color:rgb(1, 32, 12);
    font-weight: bold;
    font-style: normal;
}

.camaleao{
    width: 50%;
    text-align: center;
}    


.lista {
    text-align: left;
    font-style: normal;
    text-decoration: overline;
    color: rgb(0, 43, 6);
}